@CHARSET "ISO-8859-1";
*{
    margin: 0;
}
body {
    font-family:Arial,Helvetica,sans-serif;
    font-size : 13px; 
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration:none;
    background-color: #FFFFFF;
} 

h1,h2,h3,h4,h5,h6,h7,h8 {
    color: #E9601A;
    font-weight: normal;
}

#bandeau{
    width: 100%;
    height: 58px;
    background-color: #F15E0C;
    text-align: center;
}

#legal{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 15px;
}

#wrapper{ /*div englobant le header et le body, permettant de coller le footer en bas
ne pas modifier les valeurs*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -66px; /* 66px=hauteur du footer*/
}

#menu{
    margin : 10px;
}

#menu ul{
    list-style-type: none;
    padding: 5px;
    margin-top: 0;
}

#menu li{
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}

#menu a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #F5F5F5;
    font-weight: bold;
    text-decoration: none;
}

#menu a:hover{
    text-decoration: underline;
}

#feedbackPanel{
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: thin dotted #E9601A;
}

#monfeedbackPanel{
    /*margin: 20px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border: thin dotted #E9601A;*/
    font-weight: bold;
    font-size: 13px;
    width: 80%;
}

#entetePalanque{
    margin-left:40px;
    margin-right:auto;
    font-size : 18px;
    color:#000000;
    font-weight: bold;
    /*border: thin solid black;*/
}

#entetePalanqueNumero{
    text-align: center;
    font-size : 18px;
    color:#000000;
    font-weight: bold;
    /*border: 2px solid black;*/
}

#cadreNoir{
    border: 2px solid black;
    background-color: coral;
} 

#pied{
    background-color: #F5F5F5;
    width: 100%;
    height: 66px;
    text-align: center;
}

table.dataview {
    border-bottom: 1px solid #0079d6;
    font-size: 1em;
    font-family: arial;
    margin-top: 10px;
    margin-bottom: 10px;
    /*
    border-left: 1px solid #0079D6;
    border-right:1px solid #0079D6;
    */
}

table.dataview caption { text-align: left; }
table.dataview tr { padding-top: 2px; padding-bottom: 2px;}
table.dataview tr.even { background-color: #ffebcd; }
table.dataview tr.odd { background-color: #fff; }
table.dataview tr.inactif { color: red; }
table.dataview tr.inscrit { color: blue; }
table.dataview tr.inscritMinimumPlongeur { color: red; font-weight: bold;}
table.dataview tr.minimumPlongeur { color: red; }
table.dataview tr td { padding-left: 8px; padding-right: 30px; }
table.dataview tr th { color: black; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 24px; background-color: #c1e4ff; border-bottom: 1px solid #0079d6; border-top: 1px solid #0079d6; text-align: left; white-space: nowrap; vertical-align: middle;}

table.dataview tr th { background-position: right; background-repeat:no-repeat; }
table.dataview tr th.wicket_orderDown {
    background-color: #87cbff; background-image: url(displaytag/img/arrow_down.png); }
table.dataview tr th.wicket_orderUp {
    background-color: #87cbff; background-image: url(displaytag/img/arrow_up.png); }
table.dataview tr th.wicket_orderNone {
    background-image: url(displaytag/img/arrow_off.png);
}
table.dataview tr th a { font-weight: normal; }
table.dataview #message { padding-left: 3px; }
table.dataview caption { padding-bottom: 2px; }

/*-----------------------------------------------------------
Debut message
------------------------------------------------------------*/
table.messageview {
    border-bottom: 1px solid #0079d6;
    font-size: 1em;
    font-family: arial;
    margin-top: 10px;
    margin-bottom: 10px;
    /*
    border-left: 1px solid #0079D6;
    border-right:1px solid #0079D6;
    */
}

table.messageview caption { text-align: left; padding-bottom: 2px; }
table.messageview tr { padding-top: 2px; padding-bottom: 2px; }
table.messageview tr.even { background-color: #ffebcd; text-align: center; vertical-align: middle; height: 15px;}
table.messageview tr.odd { background-color: #fff; }
table.messageview tr td { padding-left: 8px; padding-right: 30px; }
table.messageview tr th { color: black; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 24px; background-color: #c1e4ff; border-bottom: 1px solid #0079d6; border-top: 1px solid #0079d6; text-align: center; white-space: nowrap; vertical-align: middle;}

table.messageview tr th { background-position: right; background-repeat:no-repeat; }
table.messageview tr th.wicket_orderDown {
    background-color: #87cbff; background-image: url(displaytag/img/arrow_down.png); }
table.messageview tr th.wicket_orderUp {
    background-color: #87cbff; background-image: url(displaytag/img/arrow_up.png); }
table.messageview tr th.wicket_orderNone {
    background-image: url(displaytag/img/arrow_off.png);
}
table.messageview tr th a { font-weight: normal; }
table.messageview #message { padding-left: 3px; }

/*-----------------------------------------------------------
Fin message
------------------------------------------------------------*/

ul
{
    padding: 0;
    margin: 15px;
}

table.palette td.pane choices {
    width: 200px;
    text-align: center;
}

.no_cadre{
    border:none;
    vertical-align: middle;
}
/*
------------------------------------------------------------
D�but Organisation Page
------------------------------------------------------------
*/

.global{
    margin-left:auto;
    margin-right:auto;
    max-width:82.5em;
    min-width:64.5em;
    position:relative;
    text-align:left;
    /*width:98.5%;*/
    background-color: #FFFFFF;
}

.header {
    margin: 0px; 
    margin-top: 15px;
    padding: 0px; 
    text-align: center; 
}

.corps{
    clear:both;
    margin-top:0.5em;
    width:100%;
}

.menu{
    padding-top:20px;
    padding-bottom:5px; 
    padding-left: 5px;
    float: left;
    /*width:180px;*/
    width:18%
}
.menu ul{
    list-style-type: none;
}

.menu li{
    display: inline;
}

.content{
    padding-left:10px;
    padding-top:20px;
    width: 80%;
    float: left;
    height: 100%;
    margin: 0 auto;/* -66px; /* 66px=hauteur du footer*/
}

.home{
    padding-left:30px;
    padding-right:50px; 
    padding-top:20px;
    width: 75%;
    margin-left: 10%; 
}

.footer{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px; 
    clear: both;
}

.cm{
    font-size : 28px;
    color:#FA0101; 
}

.msg{
    font-size : 18px;
    color:#000000;
}

.justification{
    text-align: left;
}

.justification40{
    margin-left:40px;
    margin-right:auto;
    /*background-color:#b0e0e6;*/
}

.textfieldLong {
    /* margin:3px; */
    height:20px;
    width:400px; 
}

.textfieldCourt {
    width: 20px;
    height:20px;
    /*background-color: yellow;*/
} 
.legendebleu{color : blue;}

.legenderouge{color : red;}

.legenderougegras{color : red;	font-weight : bold;}
/*
------------------------------------------------------------
Fin Organisation Page
------------------------------------------------------------
*/
